<div class="row">
  <div class="col-12">
    <div class="mb-3" style="display: flex; justify-content: flex-end;">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">
        <i class="fas fa-plus me-1"></i> New
      </button>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Internal ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            @for (item of items(); track $index) 
            {
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                </tr>
                <p></p> <p></p>
            }                    
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<div class="modal fade" id="newItemModal" tabindex="-1" aria-labelledby="newItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="newItemModalLabel">Add New Item</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      
      <div class="modal-body">
        <!-- Aquí va el contenido: formulario, inputs, etc -->
        <div class="form-group">
          <label for="itemName">Name</label>
          <input type="text" class="form-control" id="itemName" placeholder="Enter name">
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    
    </div>
  </div>
</div>